<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
 <system.webServer>         
    <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode node_env="production" />
 <rewrite>
 <rules>
    <clear />
	<rule name="Root Hit Redirect" stopProcessing="true">
		<match url="^$" />
		<action type="Redirect" url="/category/blog/" />
	</rule>
    <rule name="redirect HTTP to HTTPS" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{WARMUP_REQUEST}" pattern="1" negate="true" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
    </rule>
    <rule name="LetsEncrypt Rule" stopProcessing="true">
        <match url="^\.well-known.*$" />
        <action type="None" />
    </rule>
    <rule name="Site Wildcard" enabled="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Rewrite" url="server.js" />
    </rule>
 </rules>
 </rewrite>
 </system.webServer>
 </configuration>