<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
  <location path="(index.html|*.js)">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
 <system.webServer>
    <staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="15.00:00:00" />
    </staticContent>
 <rewrite>
 <rules>
    <clear />
    <rule name="Force HTTPS" enabled="true">
        <match url="(.*)" ignoreCase="false" />
        <conditions>
        <add input="{HTTPS}" pattern="off" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}" appendQueryString="false" redirectType="Permanent" />
    </rule>
    <rule name="LetsEncrypt Rule" stopProcessing="true">
        <match url="^\.well-known.*$" />
        <action type="None" />
    </rule>
    <!-- ignore static files -->
    <rule name="Asset Conditions" stopProcessing="true">
        <match url="(assets\/.*|.*\.js$|.*\.json$|.*\.html|.*\.ico|.*\.appcache)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="None" />
    </rule>
    <!--remaining all other url's point to index.html file -->
    <rule name="Site Wildcard" enabled="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Rewrite" url="index.html" />
    </rule>
 </rules>
 </rewrite>
 </system.webServer>
 </configuration>