$primary: #287ab1;
$white: #ffffff;
$background: #F0F0F0;
$body-background: #F0F0F0;
$size-6: 16px;
$text-invert: #ababab;
$tablet: 960px;
$weight-light: 300;

$size-3: 2rem;
$size-4: 1.5rem;
$size-7:	0.75rem;
$text-invert: $white;