<!DOCTYPE html>
<html lang="en">
  <head>
    <% if(htmlWebpackPlugin.options.processEnv && htmlWebpackPlugin.options.processEnv == 'production'){ %>
    <script>if ('serviceWorker' in navigator) { navigator.serviceWorker.register("<%= require('./sw.js') %>"); }</script>
    <% } %>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.appThemeColor %>">
    <link rel="shortcut icon" href="<%= require('./assets/favicon.ico') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./assets/app-icon.png') %>">
    <link rel="manifest" href="<%= require('./assets/manifest.json') %>" />
    <style>html,body{padding:0;margin:0}</style>
  </head>
  <body>
    <div id="app">
      <div style="background-color:#F0F0F0;height:100%;position:absolute;width:100%;top:0;bottom:0;height:100%;"></div>
      <div style="background-color:#ffffff;box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);height:56px;position:absolute;width:100%"></div>
    </div>
    <% if(htmlWebpackPlugin.options.processEnv && htmlWebpackPlugin.options.processEnv == 'production'){ %>
    <script>
      if (!('serviceWorker' in navigator)){
        document.body.innerHTML += '<iframe src="<%=require("./index-appCache.html")%>" width="0" height="0"></iframe>';
      }
    </script>
    <% } %>
  </body>
</html>
